$color-bright-orange: hsl(31, 77%, 52%);
$color-dark-cyan: hsl(184, 100%, 22%);
$color-darker-cyan: hsl(179, 100%, 13%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-light-gray: hsl(0, 0%, 95%);

$font-size-normal: 0.9375rem;
$font-title: 'Big Shoulders Display', cursive;
